<ion-header class="header" [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculadora
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input label="Primeiro valor" type="number" placeholder="Insira o primeiro valor" [(ngModel)]="first_value"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Segundo valor" type="number" placeholder="Insira o segundo valor" [(ngModel)]="second_value"></ion-input>
  </ion-item>
  <ion-item>
    <ion-select label="Operação" placeholder="Selecione a operação" [(ngModel)]="operation">
      <ion-select-option value="0">Adição</ion-select-option>
      <ion-select-option value="1">Subtração</ion-select-option>
      <ion-select-option value="2">Multiplicação</ion-select-option>
      <ion-select-option value="3">Divisão</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button expand="full" (click)="calculate()">Calcular</ion-button>
  
</ion-content>
